@font-face {
    font-family: 'Gilroy';
    src: url(../font/Gilroy-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

.container {
    height: 100vh;
    position: relative;

    .logo {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        z-index: 1;
    }

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content {
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
            &__title {
                font-size: 80px;
                font-weight: 700;
                text-shadow: 0 1px 7px rgba(0,0,0,.2);
                text-transform: uppercase;
                letter-spacing: -2px;
            }
    
            &__text {
                margin-top: 20px;
                font-size: 20px;
                line-height: 36px;
                background: rgba(45,45,45,.2);
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    
        .subscribe {
                width: 100%;
                margin-top: 90px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            &__title {
                font-size: 32px;
                font-weight: 400;
                color: #fff;
                line-height: 40px;
                display: inline-block;
                background: rgba(45,45,45,.3);
                padding: 10px 20px;
                border-radius: 10px;
            }
    
            form {
                margin-top: 25px;
                height: 45px;
    
                input {
                    width: 310px;
                    height: 100%;
                    margin: 0;
                    padding: 0 10px;
                    background: #fff;
                    font-size: 16px;
                    line-height: 46px;
                    color: #777;
                    border: 0;
                    border-radius: 3px;
                }
        
                button {
                    width: 130px;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    background-image: linear-gradient(to top, #3a2bdc, #4d2fdf, #5c34e1, #6a39e4, #763ee7, #8242ea, #8e46ec, #994bef, #a750f2, #b554f4, #c25af7, #cf5ff9);
                    border: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    color: #fff;
                    border-radius: 3px;
                    text-shadow: 0;
                    cursor: pointer;
                }
            }
    
            &__social {
                color: #fff;
                font-size: 30px;
                height: 24px;
                margin-top: 10px;
                border-radius: 3px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &:hover {
                    i {
                        background-image: linear-gradient(to top, #3a2bdc, #4d2fdf, #5c34e1, #6a39e4, #763ee7, #8242ea, #8e46ec, #994bef, #a750f2, #b554f4, #c25af7, #cf5ff9);
                    }
                }
            }
        }
    }

    .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gradient {
        position: absolute;
        background-color: rgba(0,0,0, .5);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .9;
        z-index: 0;
    }

}

@media (max-width: 568px) {
    .container {
        .wrapper {
       .content {
            padding: 0 5px;
            top: 25%;

           &__title {
                font-size: 44px;
           }

           &__text {
               font-size: 11px;
           }
       } 

       .subscribe {

           &__title {
               font-size: 22px;
           }

           form {
               input {
                   width: 200px;
               }

               button {
                   width: 90px;
               }
           }
       }
    }
    }
}